
body {
    margin: 0;
    background-color: #021a0c;
}

h1 {
    margin: 0;
    padding: 5vmin;
    color: rgba(254, 254, 254, 0.5);
    font-family: Arial, sans-serif;
    font-size: 7.5vmin;
    font-weight: lighter;
    text-align: center;
}

form {
    text-align: center;
}

.torre {
    position: absolute;
    top: 7.5vmin;
    border-radius: 1vmin;
    width: 5vmin;
    height: 30vmin;
    background: linear-gradient(to right, #d7b889, #b27315, #966f33);
}
.a {
    left: 12.5vmin;
}
.b {
    left: 42.5vmin;
}
.c {
    left: 72.5vmin;
}

.bottom {
    position: relative;
    display: block;
    margin: 0 auto;
    border-radius: 1vmin;
    width: 95vmin;
    height: 7.5vmin;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), transparent),
    linear-gradient(#b27315, #966f33 13%, #faddb0 14.5%, #faddb0 27.5%, #966f33 29%, #966f33 42%, #faddb0 43.5%, #d7b889 56.5%, #966f33 58%, #966f33 71%, #d7b889 72.5%, #d7b889 85.5%, #966f33 87%, #b27315);
}

button {
    margin: 7.5vmin auto;
    border: none;
    border-radius: 1vmin;
    width: 35vmin;
    height: 10vmin;
    font-size: 4vmin;
    color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #95c190, #363396);
    outline: none;
    cursor: pointer;
    color: white;
    transition: background 0.3s;
}
button:hover {
    background: linear-gradient(to right, #caa163, #a77b39);
}
button:active {
    background: linear-gradient(to right, #cf9844, #9e6f29);
}

label,
input {
    position: absolute;
    top: -10vmin;
    margin: 0;
    border: 0;
    padding: 0;
    width: 30vmin;
    height: 52.5vmin;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    -webkit-tap-highlight-color: transparent;
}
input:nth-child(6n + 2),
input:checked + input + input + label {
    left: 0;
}
input:nth-child(6n + 3),
input:checked + input + label {
    left: 30vmin;
}
input:nth-child(6n + 4),
input:checked + label {
    left: 60vmin;
}

label,
input:hover,
input[readonly]:focus + input,
input[readonly]:focus + input + input,
input[readonly]:focus + input + input + input {
    pointer-events: initial;
}
input[readonly],
input:nth-child(6n + 2):checked ~ input:nth-child(6n + 2),
input:nth-child(6n + 3):checked ~ input:nth-child(6n + 3),
input:nth-child(6n + 4):checked ~ input:nth-child(6n + 4) {
    pointer-events: none;
}

#um ~ input,
#um ~ label {
    z-index: 6;
}
#dois ~ input,
#dois ~ label {
    z-index: 5;
}
#tres ~ input,
#tres ~ label {
    z-index: 4;
}
#quatro ~ input,
#quatro ~ label {
    z-index: 3;
}

input#zero {
    z-index: 7;
}
input#zero:focus {
    pointer-events: none;
}
input[readonly]:focus + input:checked ~ #zero {
    left: 0;
    pointer-events: initial;
}
input[readonly]:focus + input + input:checked ~ #zero {
    left: 30vmin;
    pointer-events: initial;
}
input[readonly]:focus + input + input + input:checked ~ #zero {
    left: 60vmin;
    pointer-events: initial;
}

/* Discos */
.discos {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    margin: 10vmin auto 0;
    width: 90vmin;
    height: 35vmin;
}

.disco {
    z-index: 1;
    border-radius: 1vmin;
    height: 4vmin;
    pointer-events: none;
    transition: order 0.3s step-end;
}
input:checked + input + input + label + .disco {
    order: 3;
}
input:checked + input + label + .disco {
    order: 6;
}
input:checked + label + .disco {
    order: 9;
}

input:focus + input:checked + input + input + label + .disco {
    order: 1;
    transition: order 0s;
    animation: float 3s ease-in-out infinite alternate;
}
input:focus + input + input:checked + input + label + .disco {
    order: 4;
    transition: order 0s;
    animation: float 3s ease-in-out infinite alternate;
}
input:focus + input + input + input:checked + label + .disco {
    order: 7;
    transition: order 0s;
    animation: float 3s ease-in-out infinite alternate;
}
@keyframes float {
    50% {
        transform: translateY(-1vmin);
    }
}

input:focus + input:hover + input + input + label + .disco,
input + input:active + input + input + label + .disco {
    order: 1;
}
input:focus + input + input:hover + input + label + .disco,
input + input + input:active + input + label + .disco {
    order: 4;
}
input:focus + input + input + input:hover + label + .disco,
input + input + input + input:active + label + .disco {
    order: 7;
}

.um {
    margin: 0 10vmin;
    width: 10vmin;
    background: linear-gradient(to right, #eea668, #ed7e1d, #e67e22);
}
.dois {
    margin: 0 8vmin;
    width: 14vmin;
    background: linear-gradient(to right, #8ac4ea, #0f9fff, #3498db);
}
.tres {
    margin: 0 6vmin;
    width: 18vmin;
    background: linear-gradient(to right, #f0d775, #fc0, #e6bd19);
}
.quatro {
    margin: 0 4vmin;
    width: 22vmin;
    background: linear-gradient(to right, #666, #000, #333);
}

/* Espaços */
.espaco {
    width: 30vmin;
    height: 1px;
    flex-grow: 0;
    pointer-events: none;
    transition: flex 0.3s;
}
.separador {
    width: 0;
    height: 100%;
}
.a {
    order: 2;
}
.ab {
    order: 3;
}
.b {
    order: 5;
}
.bc {
    order: 6;
}
.c {
    order: 8;
}

input[readonly]:focus + input:hover ~ .a,
input[readonly]:focus + input + input:hover ~ .b,
input[readonly]:focus + input + input + input:hover ~ .c {
    transition: flex 0s;
    flex-grow: 1;
}
input[readonly]:focus + input:checked ~ .a,
input[readonly]:focus + input + input:checked ~ .b,
input[readonly]:focus + input + input + input:checked ~ .c {
    flex-grow: 1;
}

input:nth-child(6n + 4):checked ~ input:nth-child(6n + 4):checked ~ input:nth-child(6n + 4):checked ~ input:nth-child(6n + 4):checked ~ input:nth-child(6n + 4):checked ~ input:nth-child(6n + 4):checked ~ .win {
    opacity: 1;
    pointer-events: initial;
}